USE QLTINHOC_PTTK
GO
------------
IF OBJECT_ID('PTTK_LayDSHocPhanChuaPC','P') IS NOT NULL
	DROP PROC PTTK_LayDSHocPhanChuaPC
GO
CREATE PROC PTTK_LayDSHocPhanChuaPC
@RETURNCODE INT OUTPUT, 
@RETURNMESS NVARCHAR(100) OUTPUT
AS
BEGIN TRANSACTION
	BEGIN TRY
		select HOCPHAN.HP_TEN, HOCPHAN.HP_ID from HOCPHAN
		where HOCPHAN.HP_ID not in (select HOCPHAN.HP_ID from HOCPHAN join THOIKHOABIEU on THOIKHOABIEU.TKB_ID=HOCPHAN.HP_ID)	
	END TRY
	BEGIN CATCH
		SET @RETURNCODE = 1;
		SET @RETURNMESS =  N'Có lỗi xảy ra'
		ROLLBACK TRANSACTION;
	END CATCH
	SET @RETURNCODE = 0;
	SET @RETURNMESS = N'Lấy danh sách học phần thành công'
	
COMMIT TRANSACTION

DECLARE @CODE INT, @MESS NVARCHAR(100)
EXEC PTTK_LayDSHocPhanChuaPC @RETURNCODE = @CODE OUTPUT, @RETURNMESS = @MESS OUTPUT ; 
SELECT @MESS AS N'Thông báo';
----
IF OBJECT_ID('PTTK_LayDSGVChuaPC','P') IS NOT NULL
	DROP PROC PTTK_LayDSGVChuaPC
GO
CREATE PROC PTTK_LayDSGVChuaPC
@RETURNCODE INT OUTPUT, 
@RETURNMESS NVARCHAR(100) OUTPUT
AS
BEGIN TRANSACTION
	BEGIN TRY
		select * from GIANGVIEN	
	END TRY
	BEGIN CATCH
		SET @RETURNCODE = 1;
		SET @RETURNMESS =  N'Có lỗi xảy ra'
		ROLLBACK TRANSACTION;
	END CATCH
	SET @RETURNCODE = 0;
	SET @RETURNMESS = N'Lấy danh sách giáo viên thành công'
	
COMMIT TRANSACTION

DECLARE @CODE INT, @MESS NVARCHAR(100)
EXEC PTTK_LayDSHocPhanChuaPC @RETURNCODE = @CODE OUTPUT, @RETURNMESS = @MESS OUTPUT ; 
SELECT @MESS AS N'Thông báo';


IF OBJECT_ID('PTTK_ThemPCGD','P') IS NOT NULL
	DROP PROC PTTK_ThemPCGD
GO
CREATE PROC PTTK_ThemPCGD 
@ID_GV int,
@ID_HP int,
@RETURNCODE INT OUTPUT, 
@RETURNMESS NVARCHAR(100) OUTPUT
AS
BEGIN TRANSACTION
	BEGIN TRY
		IF(@ID_GV = '' OR @ID_HP IS NULL)
		BEGIN
			SET @RETURNCODE  = 1;
			SET @RETURNMESS =  N'Vui lòng điền vào mã giảng viên';
			ROLLBACK TRANSACTION;
			RETURN;
		END
		IF(@ID_HP = '' OR @ID_HP IS NULL)
		BEGIN
			SET @RETURNCODE  = 1;
			SET @RETURNMESS =  N'Vui lòng điền vào mã học phần';
			ROLLBACK TRANSACTION;
			RETURN;
		END
		SELECT nguoiDK.NDKT_TEN
		FROM NGUOIDANGKYTHI nguoiDK join GIANGVIEN gv on gv.GV_IDNDKT=nguoiDK.NDKT_ID
		WHERE gv.GV_IDNDKT=@ID_GV
		SELECT hp.HP_TEN,tkb.TKB_PHONG,tkb.TKB_THU,tkb.TKB_TGBD
		FROM HOCPHAN hp join THOIKHOABIEU tkb on hp.HP_ID=tkb.TKB_IDHP
		
		
	END TRY
	BEGIN CATCH
		SET @RETURNCODE = 1;
		SET @RETURNMESS =  N'Có lỗi xảy ra'
		ROLLBACK TRANSACTION;
	END CATCH
	SET @RETURNCODE = 0;
	SET @RETURNMESS = N'Thêm phân công thành công'
	
COMMIT TRANSACTION

DECLARE @CODE INT, @MESS NVARCHAR(100)
EXEC PTTK_ThemPCGD  1,1,@RETURNCODE = @CODE OUTPUT, @RETURNMESS = @MESS OUTPUT ; 
SELECT @MESS AS N'Thông báo';
-----
----Xoa PCGD

IF OBJECT_ID('PTTK_XoaPCGD','P') IS NOT NULL
	DROP PROC PTTK_XoaPCGD
GO
CREATE PROC PTTK_XoaPCGD 
@ID_HP int,
@RETURNCODE INT OUTPUT, 
@RETURNMESS NVARCHAR(100) OUTPUT
AS
BEGIN TRANSACTION
	BEGIN TRY
		IF(@ID_HP = '' OR @ID_HP IS NULL)
		BEGIN
			SET @RETURNCODE  = 1;
			SET @RETURNMESS =  N'Vui lòng điền vào mã học phần';
			ROLLBACK TRANSACTION;
			RETURN;
		END
		DELETE HOCPHAN FROM HOCPHAN WHERE HOCPHAN.HP_ID=@ID_HP
	END TRY
	BEGIN CATCH
		SET @RETURNCODE = 1;
		SET @RETURNMESS =  N'Có lỗi xảy ra'
		ROLLBACK TRANSACTION;
	END CATCH
	SET @RETURNCODE = 0;
	SET @RETURNMESS = N'Xóa phân công thành công'
	
COMMIT TRANSACTION

DECLARE @CODE INT, @MESS NVARCHAR(100)
EXEC PTTK_XoaPCGD  1,@RETURNCODE = @CODE OUTPUT, @RETURNMESS = @MESS OUTPUT ; 
SELECT @MESS AS N'Thông báo';
----
